# Data Science Tools and Ecosystem

## Author
Bert Vangramberen

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- Provide a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Tensorflow|
|Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers:

In [3]:
(3*4)+5

17

This will convert 200 minutes into hours:

In [1]:
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.